@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Mukta:wght@200&family=Staatliches&display=swap');

*{
font-family: 'Exo 2', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Staatliches', cursive;
font-size: 20px;
padding:0;
margin: 0;
text-decoration:none;
list-style: none;
}

:root {
    --header-width: 230px;
    --bg-color: #347ab4;
}

.flexbox-container{
    display:flex;
    width: calc(100% - 230px);
    height: 40px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#flexbox-main{
    display: flex;
    width: calc(100% - 230px);
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}
  
.flexcls{
  text-align:center;
}

body{
    padding: 0;
    margin-right: 0;
    width: calc(100% - 230px);;
    height: 100%;
    color: #fff;
    background-color: lightblue;
}

#navbar{
    position:fixed;
    top: 0px;
    left:0px;
    border-right: solid;
    height: 100%;
    width: var(--header-width);
    background-color: var(--bg-color);
    color: #fff;
  }

  #navbar ul{
    height:90%;
    padding:0px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  #navbar ul li{
    border-bottom: 2px solid;
    line-height:60px;
    margin: 0 5px;
    position: relative;
  }
  
#navbar a{
  font-size: 20px;
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
  color: #3d3d3d;
  color: #fff;
  }
  
 #logo{
    display: grid;
    place-items: center;
}

 img{
    max-width: 50%;
    padding-bottom: 20px;
    filter: brightness(0) invert(1);
 }


.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    height:40px;
    background-color: #ededed;
    color: #515356;
    text-align: center;
 }

#survey-form{
    background-color:var(--bg-color);
    width: 100%;
    height:auto;
    margin: auto;
    padding: 50px 50px 50px 50px;
    border-radius: 1rem;
  }

.form-control {
    display: block;
    width: 96.5%;
    height: 1.2rem;
    padding: 0.375rem 0.75rem;
    color: var(--bg-color);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--bg-color);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 99, 255, 0.579);
  }

button{
    background: white;
    border: 10px solid white;
    border-radius: 8px;
    font-size:20px;
    color:#ced4da;
    margin: 50px auto 20px auto;
    display: block;
    height:auto;
    width:auto;
  }

.card-container {
	display: flex;
    margin-top: 100px;
    flex-direction: column;
	align-items: space-between;
    background-color: #3d3d3d;
    width: 400px;
}

.card-flex{
    justify-content: space-around;
}

.description-flex{
    display: flex;
}

.card-title{
    background-color: black;
}

.card-image{
    height:300px;
    padding: 50px;
    background-color: white;
}

.main-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
}